<h2>Editar Perfil</h2>


<script>
  $.when($.ready).then(function() {
    updateCities();

    $( "#user_state_id" ).change(function() {
      updateCities();
    });

      function updateCities(){
      $.get( "/states/" + $( "#user_state_id").val() + "/cities", function( data ) {
        $('#cities_collection').html(data);
      });
    };
  });
</script>

<%= simple_form_for @user, html: { class: 'col-md-6' } do |f| %>
  <%= f.input :nickname, wrapper_html: { class: 'form-group' } %>
  <%= f.input :avatar, as: :file, wrapper_html: { class: 'custom-file mb-2' },
    input_html: { class: 'custom-file-input' }, label_html: { class: 'custom-file-label' } %>
  <%= f.association :state, label: 'Estado' %>
  <%= f.association :city, label: 'Cidade' %>
  <%= f.submit 'Atualizar', class: 'btn btn-primary' %>
<% end %>
