<h1><%= t('my.invites') %></h1>

<% if current_user.received_invites.count > 0 %>
  
  <% current_user.received_invites.each do |invite| %>
    <p>
      <%= link_to invite.event.title %>
      <%= link_to 'Aceitar' %>
      <%= link_to 'Recusar' %>
    </p>
  <% end %>

  <h3><%= t('my.invites_count', total: current_user.received_invites.count) %></h3>

<% else %>
  <h3><%= t('my.invites_none') %></h3>    
<% end %>
