<h1><%= t('my.invites') %></h1>

<% if @received_invites.count > 0 %>
  
  <% @received_invites.each do |invite| %>
    <p>
      <%= link_to invite.event.title %>
      <%= link_to 'Aceitar', accept_invite_user_path(invite), method: :post %>
      <%= link_to 'Recusar', decline_invite_user_path(invite), method: :post %>
    </p>
  <% end %>

  <h3><%= t('my.invites_count', total: @received_invites.count) %></h3>

<% else %>
  <h3><%= t('my.invites_none') %></h3>    
<% end %>
