<h2>Perfil</h2>

<div>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
  <h2><%= @user.nickname %></h2>

  <%= @user.state.name %>
  <%= @user.city.name %>
</div>

<div>
  <p><%= link_to t('add.games.to_profile'), search_games_path %></p>
</div>

<div>
  <%= simple_form_for @user, url: invite_user_path, method: :post do |f| %>
    <%= label_tag :event_id, t('form.new.invite.event') %>
    <%= select_tag :event_id, options_for_select(current_user.event_options) %>
    <%= f.submit t('form.new.invite.submit') %>
  <% end %>
</div>
