<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Multiplayer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to t('find.events'), nil, class: 'nav-link'  %></li>
        <li class="nav-item"><%= link_to t('find.games'), search_games_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to t('find.users'), nil, class: 'nav-link' %></li>
      <% else %>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Editar Perfil', edit_user_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sair', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
