<div class="bg-dark" id="sidebar-wrapper">
  <div class="sidebar-heading"></div>
  <div class="list-group list-group-flush">
    <% if admin_signed_in? %>
      <%= link_to t('register.category'), new_category_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
      <%= link_to t('register.company'), new_company_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
      <%= link_to t('register.game'), new_game_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
      <%= link_to t('register.platform'), new_platform_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>

      <%= link_to t('view.categories'), categories_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
      <%= link_to t('view.platforms'), platforms_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>
    <% end %>
      
    <% if user_signed_in? %>
      <%= link_to t('create.event'), new_event_path, class: 'list-group-item list-group-item-action bg-dark text-white' %>

      <p>
        <span>
          <%= link_to t('view.received_invites'), received_invites_user_path(current_user), class: 'list-group-item list-group-item-action bg-dark text-white' %>
        </span>
        <% if current_user.received_invites.any? %>
          <%= image_tag('/assets/invites/received_invites.png', title: t('my.invites_count', total: current_user.received_invites.count)) %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
