<h1><%= t(:welcome_message) %></h1>

<% if admin_signed_in? %>
  <p><%= link_to t('register.category'), new_category_path %></p>
  <p><%= link_to t('register.company'), new_company_path %></p>
<% end %>

<p><%= link_to t('view.categories'), categories_path %></p>
<p><%= link_to t('view.platforms'), platforms_path %></p>
