<h1><%= t(:welcome_message) %></h1>

<% if admin_signed_in? %>
  <p><%= link_to t('register.category'), new_category_path %></p>
  <p><%= link_to t('register.company'), new_company_path %></p>
  <p><%= link_to t('register.game'), new_game_path %></p>
  <p><%= link_to t('register.platform'), new_platform_path %></p>

  <p><%= link_to t('view.categories'), categories_path %></p>
  <p><%= link_to t('view.platforms'), platforms_path %></p>
<% end %>

<div>
  <div>
    <% if user_signed_in? %>
      <p><%= link_to t('create.event'), new_event_path %></p>
      <p><%= link_to t('view.received_invites'), received_invites_user_path(current_user) %></p>
    <% end %>
  </div>

  <div>
    <p><%= link_to t('find.events') %></p>
    <p><%= link_to t('find.games'), search_games_path %></p>
    <p><%= link_to t('find.users') %></p>
  </div>

  <div>
    <h3><%= t('last.games') %></h3>

    <% if @games.any? %>
      <ul>
        <% @games.each do |game| %>
          <li>
            <p>
              <%= link_to game.name %>
            </p>
            <% if !current_user.games.exists?(game.id) %>
              <p>
                <%= link_to t('add.to_my_profile'), add_game_path(game), method: :patch %>
              </p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <h3><%= t('upcoming.events') %></h3>

    <% if @events.any? %>
      <% @events.each do |event| %>
        <div>
          <p>
            <span>
              <%= link_to event.title %>
            </span>
            <% if event.event_participations.count == event.user_limit %>
              <%= image_tag('/assets/events/full_attendance.png', title: t(:full_attendance)) %>
            <% end %>
          </p>
          <p><%= "Criado por: #{event.user.nickname}" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
