<h2><%= @event.title %></h2>

<p>Data: <%= l @event.event_date %></p>
<p>Local: <%= @event.event_location %></p>
<p><%= "Total Participantes: #{@event.event_participations.count}" %></p>
<p><%= "Máximo Participantes: #{@event.user_limit}" %></p>

<div>
  <p><%= link_to 'Convidar Jogadores para este Evento' %></p>
</div>