<h2><%= t('register.game') %></h2>

<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :release_year %>
  
  <%= f.simple_fields_for :category_games do |cg| %>
    <%= cg.collection_check_boxes :category_games_ids, @categories, :id, :name %>
  <% end %>

  <%= f.simple_fields_for :game_platforms do |gp| %>
    <%= gp.collection_check_boxes :game_platforms_ids, @platforms, :id, :name %>
  <% end %>

  <%= f.input :photo, as: :file %>
  <%= f.submit t(:submit) %>
<% end %>

<p><%= link_to t(:back), root_path %></p>