<h1><%= t('search.games') %></h1>

<%= simple_form_for :search, url: search_games_path, method: :get do |f| %>
  <%= f.input :q, label: t('search.for') %>
  <%= f.submit t('search.submit'), class: 'btn btn-primary' %>
<% end %>

<div class="mt-4">
  <% if @games&.any? %>
    <%= t('found.games', count: @games.count) %>
    <div class="row">
      <% @games.each do |game| %>
        <div class="card ml-3 mt-3" style="width: 20rem;">
          <% if game.photo.attached? %>
            <div class="card-img">
              <%= image_tag game.photo.variant(resize: '320x'), class: '' %>
            </div>
          <% end %>
          <div class="card-body"></div>
          <div class="card-footer">
            <h5><%= link_to game.name %></h5>
            <% if !current_user.games.exists?(game.id) %>
              <%= link_to t('add.to_my_profile'), add_game_path(game),
                method: :patch, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('not.found.games') %>
  <% end %>
</div>
