<h1><%= t('search.games') %></h1>

<%= form_tag search_games_path, method: :get do %>
  <%= label_tag(:q, t('search.for')) %>
  <%= text_field_tag(:q) %>
  <%= submit_tag(t('search.submit')) %>
<% end %>

<div>
  
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to game.name %>
      </li>
    <% end %>
  </ul>

  <h3>
    <%= t('found.games', total: @games.count) %>
  </h3>

</div>