<h1><%= t('search.games') %></h1>

<%= form_tag search_games_path, method: :get do %>
  <%= label_tag(:q, t('search.for')) %>
  <%= text_field_tag(:q) %>
  <%= submit_tag(t('search.submit')) %>
<% end %>

<div>
  
  <% if !@games.nil? %>
    <ul>
      <% @games.each do |game| %>
        <li>
          <p>
            <%= link_to game.name %>
          </p>
          <% if !current_user.games.exists?(game.id) %>
            <p>
              <%= link_to t('add.to_my_profile'), add_game_path(game), method: :patch %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h3>
      <% if @games.count > 0 %>
        <%= t('found.games', total: @games.count) %>
      <% else %>
        <%= t('not.found.games') %>
      <% end %>
    </h3>
  <% end %>

</div>