<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>
      <% end %>

      <div id="page-content-wrapper">
        <%= render 'shared/navbar' %>

        <nav>
          <% if admin_signed_in? %>
            <p>
            <span>
              <%= "#{t(:authenticated_as)}: #{current_admin.email}" %>
            </span>
            <%= image_tag('/assets/admins/admin_star.png', title: t(:authenticated_as_admin)) %>
            </p>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
          <% end %>
        </nav>


        <div class="content">
          <% if user_signed_in? %>
            <span>
              <%= "#{t(:authenticated_as)}: #{current_user.email}" %>
            </span>
          <% end %>

          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
