<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if admin_signed_in? %>
        <p>
          <span>
            <%= "#{t(:authenticated_as)}: #{current_admin.email}" %>
          </span>
          <%= image_tag('/assets/admins/admin_star.png', title: t(:authenticated_as_admin)) %>
        </p>
        <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
